main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  margin-top: 2.5rem;

  & a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font: var(--fs-link);
    color: var(--color-brand);

    transition: 0.2s ease-in-out;

    &:hover {
      filter: brightness(0.8);
      scale: 1.1;
    }
  }

  & h1 {
    margin-top: 1rem;

    font: var(--fs-title);
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & input {
      width: 100%;
      height: 2.75rem;
      padding: 0 1.125rem;
      border: 1px solid var(--border-primary);
      border-radius: 0.75rem;

      font: var(--fs-paragraph);
      color: var(--content-primary);

      transition: 0.2s ease-in-out;

      &:hover {
        border: 1px solid var(--border-hover);
      }

      &:focus {
        border: 1px solid var(--color-brand);
        outline: none;

        &::placeholder {
          color: var(--content-primary);
        }
      }

      &::placeholder {
        font: var(--fs-paragraph);
        color: var(--content-tertiary);

        transition: 0.2s ease-in-out;
      }
    }

    & button {
      width: 100%;
      height: 2.75rem;
      white-space: nowrap;
      text-align: center;
      padding: 0.625rem 1.5rem;
      border-radius: 0.75rem;
      font: var(--fs-label);
      background-color: var(--color-brand);
      border: none;
      color: var(--aways-white);
      cursor: pointer;
      outline: none;

      transition: 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-brand-hover);
        transform: scale(1.02);
      }

      &:focus {
        background-color: var(--color-brand-hover);
        transform: scale(1.02);
      }
    }
  }

  & .list {
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    & li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      width: 100%;
      height: 2.75rem;
      padding: 0 1.125rem;

      border: 1px solid var(--border-primary);
      border-radius: 0.75rem;
      background-color: var(--background-secondary);

      font: var(--fs-paragraph);
      color: var(--content-primary);

      &:hover {
        border: 1px solid var(--border-hover);
      }

      & input[type="checkbox"] {
        background-image: url("/assets/icons/checkbox-default.svg");
        width: 1rem;
        height: 1rem;
        cursor: pointer;
      }

      & img[class="remove"] {
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
}

@media (width >= 80rem) {
  main {
    margin-top: 3.875rem;

    display: flex;
    flex-direction: column;
    align-items: start;

    & a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font: var(--fs-link);
      color: var(--color-brand);

      transition: 0.2s ease-in-out;

      & img {
        width: 1.125rem;
        height: 1.125rem;
      }

      &:hover {
        filter: brightness(0.8);
        scale: 1.1;
      }
    }

    & h1 {
      font: var(--fs-title);
      margin-top: 1rem;
    }

    & .content {
      width: 100%;
    }

    & form {
      margin-top: 2.75rem;

      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      & input {
        width: 70%;
        height: 2.75rem;
        padding: 0 1.125rem;
        border: 1px solid var(--border-primary);
        border-radius: 0.75rem;
      }

      & button {
        width: 30%;
        height: 2.75rem;
        white-space: nowrap;
        text-align: center;
        padding: 0.625rem 1.5rem;
        border-radius: 0.75rem;
        font: var(--fs-label);
        background-color: var(--color-brand);
        border: none;
        color: var(--aways-white);
        cursor: pointer;

        transition: 0.2s ease-in-out;
      }

      & button:hover {
        background-color: var(--color-brand-hover);
      }
    }
  }
}
